# Caso de Estudio COVID-19

In [1]:
# Librerías
import numpy as np
import pandas as pd
import datetime
import matplotlib.pyplot as plt
from pandas.plotting import register_matplotlib_converters
import seaborn as sns

# para que el fonde las gráficas esté por default 
# esto en caso no hayan datos, saldrá en blanco la gráfica
sns.set()

### Reombrando las columnas

In [2]:
def nombra_columnas(data):
    # A la izquierda va el nombre original y la derecha el 
    # el nuevo nombre o título de la columna
    # se recomienda que las variables comiencen con minúscula
    new = data.rename(
                columns = {'Province/State':'subregion',
                          'Country/Region':'país',
                          'Lat':'lat',
                          'Long':'long'})
    return new

### Formato tidy

In [3]:
def union_date_data(data, column_name):
    
    # id_vars: mantener como en original
    # var_name: respecto a que variable se reduce el dataframe
    # value_name: el nuevo nombre que tendrá la columna
    new = data.melt(id_vars = ['país', 'subregion','lat','long'],
                   var_name = 'date_RAW',
                   value_name = column_name)
    return new

### Fechas en formato datetime

In [4]:
def convert_date(data):
    new = data.assign(
    date = pd.to_datetime(data.date_RAW,format='%m/%d/%y'))
    new.drop(columns = ['date_RAW'],inplace = True)
    return new

### Reordenar datos

In [5]:
def reordenar_data(data,column_name):
    new = (data.filter(
    ['país','subregion','date','lat','long',column_name])
          .sort_values(['país','subregion','date','lat','long'])
          .reset_index(drop = True))
    return new

### Obtener los datos

In [6]:
def get_data(url,var_name):
    data_inprocess = pd.read_csv(url)
    data_inprocess = nombra_columnas(data_inprocess)
    data_inprocess = union_date_data(data_inprocess,var_name)
    data_inprocess = convert_date(data_inprocess)
    data_inprocess = reordenar_data(data_inprocess, var_name)
    
    return data_inprocess

In [67]:
confirmados = 'https://data.humdata.org/hxlproxy/api/data-preview.csv?url=https%3A%2F%2Fraw.githubusercontent.com%2FCSSEGISandData%2FCOVID-19%2Fmaster%2Fcsse_covid_19_data%2Fcsse_covid_19_time_series%2Ftime_series_covid19_confirmed_global.csv&filename=time_series_covid19_confirmed_global.csv'
muertos = 'https://data.humdata.org/hxlproxy/api/data-preview.csv?url=https%3A%2F%2Fraw.githubusercontent.com%2FCSSEGISandData%2FCOVID-19%2Fmaster%2Fcsse_covid_19_data%2Fcsse_covid_19_time_series%2Ftime_series_covid19_deaths_global.csv&filename=time_series_covid19_deaths_global.csv'
recuperados = 'https://data.humdata.org/hxlproxy/api/data-preview.csv?url=https%3A%2F%2Fraw.githubusercontent.com%2FCSSEGISandData%2FCOVID-19%2Fmaster%2Fcsse_covid_19_data%2Fcsse_covid_19_time_series%2Ftime_series_covid19_recovered_global.csv&filename=time_series_covid19_recovered_global.csv'

confirmados = get_data(confirmados,'confirmados')
muertos = get_data(muertos,'muertes')
recuperados = get_data(recuperados,'recuperados')

KeyboardInterrupt:

In [8]:
confirmados

               país subregion       date        lat       long  confirmados
0       Afghanistan       NaN 2020-01-22  33.939110  67.709953            0
1       Afghanistan       NaN 2020-01-23  33.939110  67.709953            0
2       Afghanistan       NaN 2020-01-24  33.939110  67.709953            0
3       Afghanistan       NaN 2020-01-25  33.939110  67.709953            0
4       Afghanistan       NaN 2020-01-26  33.939110  67.709953            0
...             ...       ...        ...        ...        ...          ...
290440     Zimbabwe       NaN 2022-10-18 -19.015438  29.154857       257893
290441     Zimbabwe       NaN 2022-10-19 -19.015438  29.154857       257893
290442     Zimbabwe       NaN 2022-10-20 -19.015438  29.154857       257893
290443     Zimbabwe       NaN 2022-10-21 -19.015438  29.154857       257893
290444     Zimbabwe       NaN 2022-10-22 -19.015438  29.154857       257893

[290445 rows x 6 columns]

In [9]:
muertos

               país subregion       date        lat       long  muertes
0       Afghanistan       NaN 2020-01-22  33.939110  67.709953        0
1       Afghanistan       NaN 2020-01-23  33.939110  67.709953        0
2       Afghanistan       NaN 2020-01-24  33.939110  67.709953        0
3       Afghanistan       NaN 2020-01-25  33.939110  67.709953        0
4       Afghanistan       NaN 2020-01-26  33.939110  67.709953        0
...             ...       ...        ...        ...        ...      ...
290440     Zimbabwe       NaN 2022-10-18 -19.015438  29.154857     5606
290441     Zimbabwe       NaN 2022-10-19 -19.015438  29.154857     5606
290442     Zimbabwe       NaN 2022-10-20 -19.015438  29.154857     5606
290443     Zimbabwe       NaN 2022-10-21 -19.015438  29.154857     5606
290444     Zimbabwe       NaN 2022-10-22 -19.015438  29.154857     5606

[290445 rows x 6 columns]

In [10]:
recuperados

               país subregion       date        lat       long  recuperados
0       Afghanistan       NaN 2020-01-22  33.939110  67.709953            0
1       Afghanistan       NaN 2020-01-23  33.939110  67.709953            0
2       Afghanistan       NaN 2020-01-24  33.939110  67.709953            0
3       Afghanistan       NaN 2020-01-25  33.939110  67.709953            0
4       Afghanistan       NaN 2020-01-26  33.939110  67.709953            0
...             ...       ...        ...        ...        ...          ...
275365     Zimbabwe       NaN 2022-10-18 -19.015438  29.154857            0
275366     Zimbabwe       NaN 2022-10-19 -19.015438  29.154857            0
275367     Zimbabwe       NaN 2022-10-20 -19.015438  29.154857            0
275368     Zimbabwe       NaN 2022-10-21 -19.015438  29.154857            0
275369     Zimbabwe       NaN 2022-10-22 -19.015438  29.154857            0

[275370 rows x 6 columns]

In [11]:
print(len(confirmados))
print(len(muertos))
print(len(recuperados))

290445
290445
275370

### 3. Fusión (Merge) de los tres archivos en uno solo, eliminando columnas repetidas

In [12]:
muertos.drop(columns = ['lat','long'], inplace = True)
recuperados.drop(columns = ['lat','long'], inplace = True)

In [13]:
muertos

               país subregion       date  muertes
0       Afghanistan       NaN 2020-01-22        0
1       Afghanistan       NaN 2020-01-23        0
2       Afghanistan       NaN 2020-01-24        0
3       Afghanistan       NaN 2020-01-25        0
4       Afghanistan       NaN 2020-01-26        0
...             ...       ...        ...      ...
290440     Zimbabwe       NaN 2022-10-18     5606
290441     Zimbabwe       NaN 2022-10-19     5606
290442     Zimbabwe       NaN 2022-10-20     5606
290443     Zimbabwe       NaN 2022-10-21     5606
290444     Zimbabwe       NaN 2022-10-22     5606

[290445 rows x 4 columns]

In [14]:
recuperados

               país subregion       date  recuperados
0       Afghanistan       NaN 2020-01-22            0
1       Afghanistan       NaN 2020-01-23            0
2       Afghanistan       NaN 2020-01-24            0
3       Afghanistan       NaN 2020-01-25            0
4       Afghanistan       NaN 2020-01-26            0
...             ...       ...        ...          ...
275365     Zimbabwe       NaN 2022-10-18            0
275366     Zimbabwe       NaN 2022-10-19            0
275367     Zimbabwe       NaN 2022-10-20            0
275368     Zimbabwe       NaN 2022-10-21            0
275369     Zimbabwe       NaN 2022-10-22            0

[275370 rows x 4 columns]

In [15]:
# left indica que confirmados se quedará igual
# agregará Nan para los valores desconocidos cuando no hayan datos (en este caso en recuperados)
covid_19 = (confirmados
           .merge(muertos, on = ['país','subregion','date'], how = 'left')
           .merge(recuperados, on = ['país','subregion','date'], how = 'left'))

In [16]:
covid_19

,país,subregion,date,lat,long,confirmados,muertes,recuperados
0,Afghanistan,NaN,2020-01-22,33.939110,67.709953,0,0,0.0
1,Afghanistan,NaN,2020-01-23,33.939110,67.709953,0,0,0.0
2,Afghanistan,NaN,2020-01-24,33.939110,67.709953,0,0,0.0
3,Afghanistan,NaN,2020-01-25,33.939110,67.709953,0,0,0.0
4,Afghanistan,NaN,2020-01-26,33.939110,67.709953,0,0,0.0
...,...,...,...,...,...,...,...,...
290440,Zimbabwe,NaN,2022-10-18,-19.015438,29.154857,257893,5606,0.0
290441,Zimbabwe,NaN,2022-10-19,-19.015438,29.154857,257893,5606,0.0
290442,Zimbabwe,NaN,2022-10-20,-19.015438,29.154857,257893,5606,0.0
290443,Zimbabwe,NaN,2022-10-21,-19.015438,29.154857,257893,5606,0.0
290444,Zimbabwe,NaN,2022-10-22,-19.015438,29.154857,257893,5606,0.0

In [17]:
len(covid_19)

290445

### 4. Realización de un Análisis Exploratorio de Datos.

In [18]:
covid_19.head()

,país,subregion,date,lat,long,confirmados,muertes,recuperados
0,Afghanistan,NaN,2020-01-22,33.93911,67.709953,0,0,0.0
1,Afghanistan,NaN,2020-01-23,33.93911,67.709953,0,0,0.0
2,Afghanistan,NaN,2020-01-24,33.93911,67.709953,0,0,0.0
3,Afghanistan,NaN,2020-01-25,33.93911,67.709953,0,0,0.0
4,Afghanistan,NaN,2020-01-26,33.93911,67.709953,0,0,0.0

**Datos faltantes**

In [19]:
pd.set_option('display.max_rows', 180)
(covid_19
.filter(['país'])
.drop_duplicates())

                        país
0                Afghanistan
1005                 Albania
2010                 Algeria
3015                 Andorra
4020                  Angola
...                      ...
285420    West Bank and Gaza
286425  Winter Olympics 2022
287430                 Yemen
288435                Zambia
289440              Zimbabwe

[201 rows x 1 columns]

 **Validando los datos**

In [20]:
covid_19.filter(['long','lat']).agg(['min','max'])

         long      lat
min -178.1165 -71.9499
max  178.0650  71.7069

In [21]:
covid_19.filter(['confirmados','muertes','recuperados']).describe()

        confirmados       muertes   recuperados
count  2.904450e+05  2.904450e+05  2.743650e+05
mean   7.790478e+05  1.202147e+04  8.465806e+04
std    4.164392e+06  5.891061e+04  7.509262e+05
min    0.000000e+00  0.000000e+00 -1.000000e+00
25%    4.350000e+02  2.000000e+00  0.000000e+00
50%    1.038500e+04  1.160000e+02  0.000000e+00
75%    1.758120e+05  2.501000e+03  1.597000e+03
max    9.719053e+07  1.067685e+06  3.097475e+07

In [22]:
covid_19.query('confirmados < 0 or muertes < 0 or recuperados < 0 ')

,país,subregion,date,lat,long,confirmados,muertes,recuperados
277340,United Kingdom,Pitcairn Islands,2022-09-13,-24.3768,-128.3242,4,0,-1.0
277341,United Kingdom,Pitcairn Islands,2022-09-14,-24.3768,-128.3242,4,0,-1.0
277342,United Kingdom,Pitcairn Islands,2022-09-15,-24.3768,-128.3242,4,0,-1.0
277343,United Kingdom,Pitcairn Islands,2022-09-16,-24.3768,-128.3242,4,0,-1.0
277344,United Kingdom,Pitcairn Islands,2022-09-17,-24.3768,-128.3242,4,0,-1.0
277345,United Kingdom,Pitcairn Islands,2022-09-18,-24.3768,-128.3242,4,0,-1.0
277346,United Kingdom,Pitcairn Islands,2022-09-19,-24.3768,-128.3242,4,0,-1.0
277347,United Kingdom,Pitcairn Islands,2022-09-20,-24.3768,-128.3242,4,0,-1.0

In [23]:
covid_19 = covid_19.query("not(confirmados < 0 or muertes < 0 or recuperados < 0 )")

In [24]:
print(len(covid_19))

290437

In [25]:
covid_19.filter(['confirmados','muertes','recuperados']).describe()

        confirmados       muertes   recuperados
count  2.904370e+05  2.904370e+05  2.743570e+05
mean   7.790693e+05  1.202180e+04  8.466052e+04
std    4.164447e+06  5.891138e+04  7.509370e+05
min    0.000000e+00  0.000000e+00  0.000000e+00
25%    4.350000e+02  2.000000e+00  0.000000e+00
50%    1.038700e+04  1.160000e+02  0.000000e+00
75%    1.758190e+05  2.501000e+03  1.597000e+03
max    9.719053e+07  1.067685e+06  3.097475e+07

In [26]:
covid_19.isnull().sum()

país                0
subregion      198990
date                0
lat              2010
long             2010
confirmados         0
muertes             0
recuperados     16080
dtype: int64

In [50]:
covid_19 = covid_19.fillna(value = {'subregion':'','lat':np.NaN,'long':np.NaN,'recuperados':0})

In [60]:
covid_19.isna().sum()

país               0
subregion          0
date               0
lat             2010
long            2010
confirmados        0
muertes            0
recuperados        0
casos_nuevos     289
infectados         0
dtype: int64

In [62]:
covid_19[covid_19['casos_nuevos'].isna()]

,país,subregion,date,lat,long,confirmados,muertes,recuperados,casos_nuevos,infectados
0,Afghanistan,,2020-01-22,33.939110,67.709953,0,0,0.0,NaN,0.0
1005,Albania,,2020-01-22,41.153300,20.168300,0,0,0.0,NaN,0.0
2010,Algeria,,2020-01-22,28.033900,1.659600,0,0,0.0,NaN,0.0
3015,Andorra,,2020-01-22,42.506300,1.521800,0,0,0.0,NaN,0.0
4020,Angola,,2020-01-22,-11.202700,17.873900,0,0,0.0,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...
285420,West Bank and Gaza,,2020-01-22,31.952200,35.233200,0,0,0.0,NaN,0.0
286425,Winter Olympics 2022,,2020-01-22,39.904200,116.407400,0,0,0.0,NaN,0.0
287430,Yemen,,2020-01-22,15.552727,48.516388,0,0,0.0,NaN,0.0
288435,Zambia,,2020-01-22,-13.133897,27.849332,0,0,0.0,NaN,0.0
289440,Zimbabwe,,2020-01-22,-19.015438,29.154857,0,0,0.0,NaN,0.0

### 5. Generación de nueva información calculando nuevas:

In [51]:
casos_nuevos = (covid_19
               .sort_values(by = ['país','subregion','date'])
               .filter(['país','subregion','date','confirmados'])
               .groupby(['país','subregion'])
               .diff())

In [55]:
covid_19['casos_nuevos']=casos_nuevos['confirmados']

In [58]:
covid_19['infectados'] = covid_19['confirmados'] - covid_19['muertes']-covid_19['recuperados']

### 6. Normalizacion de datos

Datos de poblacion obtenidos de: https://population.un.org/wpp/Download/Standard/CSV/
Se uso unicamente la poblacion del 2021, la del 2022 es proyectada.

In [316]:
poblacion = pd.read_csv('WPP2022_TotalPopulationBySex.csv',  usecols = ['Location','PopTotal', 'Time'])
poblacion = poblacion[poblacion['Time']==2021]
poblacion.rename(columns={"Location":"país"}, inplace=True)

In [317]:
mis = ['Bolivia', 'Brunei', 'Burma', 'Congo (Brazzaville)',
       'Congo (Kinshasa)', "Cote d'Ivoire", 'Iran',
       'Korea, North', 'Korea, South', 'Kosovo', 'Laos',
       'Moldova', 'Russia', 'Syria', 'Taiwan*',
       'Tanzania', 'Turkey', 'US', 'Venezuela', 'Vietnam'
       ]

act = ['Bolivia (Plurinational State of)', 'Brunei Darussalam','Myanmar', 'Congo',
       'Democratic Republic of the Congo',"Côte d'Ivoire", 'Iran (Islamic Republic of)',
       "Dem. People's Republic of Korea", 'Republic of Korea', 'Kosovo (under UNSC res. 1244)', "Lao People's Democratic Republic", 
       'Republic of Moldova', 'Russian Federation', 'Syrian Arab Republic', 'China, Taiwan Province of China',
       'United Republic of Tanzania', 'Türkiye', 'United States of America', 'Venezuela (Bolivarian Republic of)', 'Viet Nam'
       ]

In [318]:
#poblacion[poblacion['país'].str.contains("")]['país'].unique()
for i in range(len(act)):
    poblacion.loc[poblacion["país"] == act[i],"país"] = mis[i]
    #poblacion[poblacion["país"] == act[i]]["país"] = mis[i]

In [319]:
poblacion.loc[len(poblacion)] = ["Antarctica",2021,1]
poblacion.loc[len(poblacion)] = ['Diamond Princess',2021,3.711]
poblacion.loc[len(poblacion)] = ['MS Zaandam',2021,1.821]
poblacion.loc[len(poblacion)] = ['Summer Olympics 2020',2021,11.420]
poblacion.loc[len(poblacion)] = ['West Bank and Gaza',2021, 2949.246]
poblacion.loc[len(poblacion)] = ['Winter Olympics 2022',2021, 2.871]

poblacion['PopTotal'] = poblacion['PopTotal']/1000
poblacion

                               país  Time     PopTotal
71                            AUKUS  2021   430.199753
933                   African Group  2021  1391.823316
1795                  African Union  2021  1392.388897
2657  African Union: Central Africa  2021   168.315412
3519  African Union: Eastern Africa  2021   405.532227
...                             ...   ...          ...
509                Diamond Princess  2021     0.003711
510                      MS Zaandam  2021     0.001821
511            Summer Olympics 2020  2021     0.011420
512              West Bank and Gaza  2021     2.949246
513            Winter Olympics 2022  2021     0.002871

[514 rows x 3 columns]

In [320]:
poblacion[poblacion['país']=='Guatemala']

             país  Time   PopTotal
483059  Guatemala  2021  17.608483

In [321]:
temp = covid_19.merge(poblacion, how='left', on ='país')
temp

,país,subregion,date,lat,long,confirmados,muertes,recuperados,casos_nuevos,infectados,year,Time,PopTotal
0,Afghanistan,,2020-01-22,33.939110,67.709953,0,0,0.0,NaN,0.0,2020,2021,40.099462
1,Afghanistan,,2020-01-23,33.939110,67.709953,0,0,0.0,0.0,0.0,2020,2021,40.099462
2,Afghanistan,,2020-01-24,33.939110,67.709953,0,0,0.0,0.0,0.0,2020,2021,40.099462
3,Afghanistan,,2020-01-25,33.939110,67.709953,0,0,0.0,0.0,0.0,2020,2021,40.099462
4,Afghanistan,,2020-01-26,33.939110,67.709953,0,0,0.0,0.0,0.0,2020,2021,40.099462
...,...,...,...,...,...,...,...,...,...,...,...,...,...
290432,Zimbabwe,,2022-10-18,-19.015438,29.154857,257893,5606,0.0,0.0,252287.0,2022,2021,15.993524
290433,Zimbabwe,,2022-10-19,-19.015438,29.154857,257893,5606,0.0,0.0,252287.0,2022,2021,15.993524
290434,Zimbabwe,,2022-10-20,-19.015438,29.154857,257893,5606,0.0,0.0,252287.0,2022,2021,15.993524
290435,Zimbabwe,,2022-10-21,-19.015438,29.154857,257893,5606,0.0,0.0,252287.0,2022,2021,15.993524
290436,Zimbabwe,,2022-10-22,-19.015438,29.154857,257893,5606,0.0,0.0,252287.0,2022,2021,15.993524

In [326]:
col_indicadores = ['confirmados', 'muertes',
       'recuperados', 'casos_nuevos', 'infectados']

In [328]:
for i in range(len(col_indicadores)):
    name = col_indicadores[i] + "_por_millon"
    
    temp[name] = temp[col_indicadores[i]]/temp['PopTotal']

In [329]:
temp

,país,subregion,date,lat,long,confirmados,muertes,recuperados,casos_nuevos,infectados,year,Time,PopTotal,confirmados_por_millon,muertes_por_millon,recuperados_por_millon,casos_nuevos_por_millon,infectados_por_millon
0,Afghanistan,,2020-01-22,33.939110,67.709953,0,0,0.0,NaN,0.0,2020,2021,40.099462,0.000000,0.000000,0.0,NaN,0.000000
1,Afghanistan,,2020-01-23,33.939110,67.709953,0,0,0.0,0.0,0.0,2020,2021,40.099462,0.000000,0.000000,0.0,0.0,0.000000
2,Afghanistan,,2020-01-24,33.939110,67.709953,0,0,0.0,0.0,0.0,2020,2021,40.099462,0.000000,0.000000,0.0,0.0,0.000000
3,Afghanistan,,2020-01-25,33.939110,67.709953,0,0,0.0,0.0,0.0,2020,2021,40.099462,0.000000,0.000000,0.0,0.0,0.000000
4,Afghanistan,,2020-01-26,33.939110,67.709953,0,0,0.0,0.0,0.0,2020,2021,40.099462,0.000000,0.000000,0.0,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
290432,Zimbabwe,,2022-10-18,-19.015438,29.154857,257893,5606,0.0,0.0,252287.0,2022,2021,15.993524,16124.839029,350.516872,0.0,0.0,15774.322157
290433,Zimbabwe,,2022-10-19,-19.015438,29.154857,257893,5606,0.0,0.0,252287.0,2022,2021,15.993524,16124.839029,350.516872,0.0,0.0,15774.322157
290434,Zimbabwe,,2022-10-20,-19.015438,29.154857,257893,5606,0.0,0.0,252287.0,2022,2021,15.993524,16124.839029,350.516872,0.0,0.0,15774.322157
290435,Zimbabwe,,2022-10-21,-19.015438,29.154857,257893,5606,0.0,0.0,252287.0,2022,2021,15.993524,16124.839029,350.516872,0.0,0.0,15774.322157
290436,Zimbabwe,,2022-10-22,-19.015438,29.154857,257893,5606,0.0,0.0,252287.0,2022,2021,15.993524,16124.839029,350.516872,0.0,0.0,15774.322157